<html>

<head th:replace="~{layouts :: head}"></head>

<body class="bg-light">
    <div th:replace="~{layouts :: navbar}"></div>
    <section class="container bg-light bg-light mb-3">
        <div th:replace="~{layouts :: botao-upload}"></div>

        <form th:object="${store}" th:action="@{/atualizar/{storeId}(storeId=${store.storeId})}" method="post">
            <div th:replace="~{layouts :: formulario}"></div>
            <div th:replace="~{layouts :: botoes-formulario}"></div>
        </form>
    </section>
    <div th:replace="~{layouts :: footer}"></div>
</body>

</html>