<html class="h-100">

<body class="bg-light h-100 d-flex flex-column">

    <head th:replace="~{layouts :: head}"></head>
    <div th:replace="~{layouts :: navbar}"></div>
    <section class="container bg-light mb-3">
        <h1>Lojas Associadas</h1>
        <input type="search" class="input-group mb-0 mt-4" placeholder="Pesquisar Lojas">
        <div>
            <button type="button" class="btn"><a class="btn btn-lg" href="/formulario"><i
                        class="fas fa-plus-circle"></i>Adicionar
                    Lojista</a></button>
        </div>

        <div class="row row-cols-1 row-cols-md-3 row-cols-sm-2 g-4">
            <div th:each="store : ${stories}" class="container mb-3 mt-3 col-4">
                <div class="card">
                    <img width="300px" height="300px" th:src="${store.image}" class="card-img-top" alt="">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${store.nameStore}"></h5>
                        <p class="card-text">vendas: 999 unidades</p>
                        <p class="card-text">cursos: 15</p>
                        <a th:href="@{formulario/{storeId}(storeId=${store.storeId})}" th:method="get"
                            class="btn btn-warning">Editar</a>
                        <a th:href="@{delete/{storeId}(storeId=${store.storeId})}" th:method="delete"
                            class="btn btn-danger">Deletar</a>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <div th:replace="~{layouts :: footer}"></div>

</body>

</html>